@import "compass";

body {
	background-color: #2E2E2E;
}

section	{
	position: absolute;
	top: 50%; left: 0; right: 0;
	width: 300px; height: 300px;
	margin: 0 auto;
	margin-top: -125px;;
}

article {
	position: relative;
	width: 300px; height: 300px;
	@include border-radius(5px);
	@include box-shadow(0 0 0 1px rgba(128,128,128,0.6));
	background-color: #FCF8EB;
	div{
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 50%;
		overflow: hidden;
	}
	.top {
		.shadow {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			@include box-shadow(0px 1px 1px rgba(255,255,255,0.6) inset);
			@include border-top-radius(5px);
		}
		img {
			@include border-top-radius(5px);
		}
	}
	.bottom {
		bottom: 0; top: 50%;
		@include transform-origin(50%, 0);
		@include rotateX(0deg, 700px);
		@include single-transition(all, 0.5s, cubic-bezier(0.075, 0.45, 0.165, 1));
		img {
			margin-top: -50%;
			@include border-bottom-radius(5px);
		}
		.shadow {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			@include single-transition(all, 0.5s, cubic-bezier(0.075, 0.45, 0.165, 1));
			@include opacity(0);
			@include background-image( linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0)) );
		}
	}
	&:hover .bottom {
		@include rotateX(65deg, 700px);
		.shadow {
			@include opacity(1);
		}
	}
	.fb-like, .twitter-follow {
		position: absolute;
		width: inherit;
		height: inherit;
		top: 260px; left: 20px;
		width: 140px;
		height: 40px;
	}
	.twitter-follow {
		left: 145px;
	}
}